Repository ralfbiedert/interoptopus, pull requests merged in 2023-05, with the labels that each got.

#81 Python Backend Correct type for `ASCIIPointer`
  backends/cpython/src/converter.rs
Labels: bug, c-backend-cpython

#85 Add support for repr(packed) and repr(align(n))
  backends/c/src/writer.rs
  backends/cpython/src/writer.rs
  backends/csharp/src/writer.rs
  core/src/lang/c.rs
  core/src/patterns/option.rs
  core/src/patterns/slice.rs
  proc_macros/Cargo.toml
  proc_macros/src/constants.rs
  proc_macros/src/functions/freestanding.rs
  proc_macros/src/types/enums.rs
  proc_macros/src/types/structs.rs
  reference_project/src/types.rs
Labels: enhancement

#86 fix: generate documentation of fields and enum variants in the C backend
  backends/c/src/writer.rs
  examples/complex/bindings/c/example_complex.h
  examples/complex/tests/bindings.rs
Labels: c-backend-c, enhancement
